<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners - PetClinic</title>
</head>
<body>
<!--/*@thymesVar id ="owner" type="com.francescolacriola.sfgpetclinic.model.Owner"*/-->
<h1 th:text="'List of Owners'">List of Owners.</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}"> <!-- owners is taken from the model (check the Controller class) -->
        <td th:text="${owner?.id}">1</td> <!-- ? indicates a non safe operator: if we recive a null value -->
        <td th:text="${owner?.firstName}">John</td>
        <td th:text="${owner?.lastName}">Petrucci</td>
    </tr>
    </tbody>
</table>
</body>
</html>